.image-zoom-container {
    position: relative;
    width: 100%; /* Set as per your image dimensions */
    height: auto; /* Set as per your image dimensions */
    overflow: hidden;
    top: 220px;
  }
  
  .main-image {
    width: 1130px !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  
  .zoom-lens {
    position: absolute;
    width: 100px; /* Size of the zoom lens */
    height: 100px; /* Size of the zoom lens */
    border: 1px solid #000;
    background-repeat: no-repeat;
    display: none;
    pointer-events: none;
    z-index: 1;
  }
  
  @media (max-width: 575px) {
    .image-zoom-container{
      top: 0% !important;
    }
    .main-image {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
      padding-top: 120px;
    }
  }