* {
    box-sizing:border-box
    }
    
    body {
    font-family:"Poppins",sans-serif!important;
    color:#060606;
    font-weight:100!important
    }
    
    @media (min-width: 1250px) {
    .card-body {
    margin-top:30px!important
    }
    
    .card-img-top.pd {
    padding-top:45px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    }
    
    .carousel-nav .flickity-prev-next-button {
    top:15%!important;
    width:25px!important;
    height:25px!important;
    stroke-width:1px
    }
    
    .carousel-nav .flickity-prev-next-button.next {
    right:-30px!important
    }
    
    .carousel-nav .flickity-prev-next-button.previous {
    left:-30px!important
    }
    
    .col-4 {
    height:347px
    }
    
    .tpimg {
    height:218.66px
    }
    }
    
    @media (max-width: 575px ) {
    .card-img-top {
    padding-top:50px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    padding-bottom: 0% !important;
    }
    .row{
        --bs-gutter-y: 1.5rem !important ;
    }
    
    .carousel-nav {
    width:85% !important;
    height:55px !important;
    

    }
    
    .carousel-nav .carousel-cell {
    width:75px!important;
    height:55px!important;
    margin:0 5px!important
    }
    
    .carousel-nav .flickity-prev-next-button {
    top:50%!important;
    width:10px!important;
    height:10px!important;
    stroke-width:1px;
    display:inline
    }
    
    .carousel-nav .flickity-prev-next-button.next {
    right:-20px!important
    }
    
    .carousel-nav .flickity-prev-next-button.previous {
    left:-20px!important
    }
    
    .carousel-nav img {
    width:75px!important;
    height:30px!important
    }
    
    .mens-benner {
    padding:auto
    }
    
    h5 {
    font-size:1rem!important
    }
    }
    
    .bt-chek {
    border:1px solid gray;
    border-radius:0
    }
    
    .carousel-nav {
    max-width:85%;
    max-height:75px;
    margin:auto !important;
    }
    
    .carousel-nav .carousel-cell {
    width:95px;
    height:30px
    }
    
    .carousel-nav img {
    width:85px;
    height:30px
    }
    
    .flickity-prev-next-button {
    position:absolute;
    border:none;
    border-radius:50%;
    background:var(--button-text-color);
    color:var(--button-background);
    cursor:pointer;
    text-align:center;
    z-index:1;
    box-shadow:0 2px 10px #36363626;
    vertical-align:middle;
    line-height:0;
    transform:scale(1.001);
    overflow:hidden
    }
    
    .flickity-prev-next-button:disabled {
    display:none
    }
    
    .h6 {
    margin:10px 0!important;
    justify-content:center;
    display:flex;
    font-family:'Poppins',sans-serif!important;
    font-weight:100!important;
    align-content:center;
    flex-wrap:wrap;
    top:-50px;
    position:relative
    }
    
    .mens-benner {
    min-height:500px;
    background-position:center 30%;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-attachment:fixed
    }
    
    .videoBoxInfo {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-35%);
    text-align:center
    }
    
    .videoBoxInfo p {
    font-size:24px;
    margin-bottom:20px
    }
    
    .videoBoxInfoBtn {
    padding:10px 20px
    }
    
    h3 {
    font-size:5.5rem;
    font-weight:200
    }
    
    h5 {
    font-family:"Poppins",sans-serif;
    font-weight:100;
    font-size:2rem;
    color:#a8a9aa
    }
    .row{
        --bs-gutter-y: 4.5rem ;
    }
    
    @media (min-width: 1008px ) and (max-width: 1150px) {
    .card-img-top {
    padding:70px 15px 50px
    }
    
    .carousel-nav .flickity-prev-next-button {
    top:40%!important;
    width:25px!important;
    height:25px!important;
    stroke-width:1px
    }
    
    .carousel-nav .flickity-prev-next-button.next {
    right:-30px!important
    }
    
    .carousel-nav .flickity-prev-next-button.previous {
    left:-30px!important
    }
    
    .tpimg {
    height:218.66px
    }
    }